#wrapper {
    margin: 0px auto;
    padding-left: 0px;
    padding-right: 0px;
}

#index_top_nav {
    border: 1px black inset;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: #ffdd00;
}

#index_top_nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

#index_top_nav ul li {
    font-family: 'Germania One', cursive;
    size: 5.85em;
    color: black
}

.card {
    display: inline-block;
    word-wrap: break-word;
    width: 30%;
    margin-left: 10px;
    padding-top: 0px;
    margin-top: 0px auto;
    margin-bottom: 10px;
    text-align: center;
    border: 1px black solid;
    background-image: url("img/backgrounds/card_background.png");
}

.card h4 {
    font-size: 1.8em;
    font-family: 'Germania One', cursive;
    color: #E79A4A;
    text-shadow: -1px -1px 0 #000, 2px -2px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.card-content {
    background-color: #676661;
    border: 2px inset;
    border-radius: 15px;
}

.card-description, .card-content {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 15px;
    margin-right: 15px; 
}

.card-content-img {
    width: 30px;
}

body {
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: grey;
}

a {
    color: black;
}

a:hover {
    color: lightgray;
}